@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";

@font-face {
  font-family: "Mistral";
  src: url("../fonts/7fontsrumistral.eot"); /* IE9 Compat Modes */
  src: url("../fonts/7fontsrumistral.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/7fontsrumistral.otf") format("opentype"), /* Open Type Font */
  url("../fonts/7fontsrumistral.svg") format("svg"), /* Legacy iOS */
  url("../fonts/7fontsrumistral.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/7fontsrumistral.woff") format("woff"), /* Modern Browsers */
  url("../fonts/7fontsrumistral.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 60px 0;
  background-color: #7614c9;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1, span {
    font-family: "Mistral";
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 72px;
    text-align: left;
    margin: 0;
  }

  .numberWork {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .ALevelLogo {
    display: flex;
    justify-items: center;
    align-items: flex-end;
    padding-left: 50px;

    & > div {
      background-color: #270742;
      height: 120px;
      width: 270px;
      position: relative;
      z-index: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 0 20px;

      &:after {
        content: '';
        display: block;
        width: 80px;
        height: 80px;
        background-color: #270742;
        position: absolute;
        top: -40px;
        right: -40px;
        z-index: 1;
      }

      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-color: #7614c9;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
      }

      p {
        color: #d44709;
        font-size: 60px;
        margin-bottom: 0;
      }
    }
  }
}

section {
  .LeftColumn {
    height: 80vh;
    padding: 15px;

    &:after {
      content: "";
      display: block;
      background-color: #f5eaff;
      width: 15px;
      height: 90%;
      position: absolute;
      right: 0;
      top: 5%
    }

    ul {
      list-style-type: none;
    }

    li {
      padding: 10px 0 10px 20px;
      margin-top: 3px;
      margin-bottom: 3px;
      width: 100%;

      &:hover {
        cursor: pointer;
        transition: 0.3s ease-in-out;
        transform: scale(1.05) translateX(3px);
        color: white;
        background-color: #ac55f6;
      }

      &.active {
        color: white;
        background-color: #ac55f6;
      }
    }

    .innerList {
      padding-left: 20px;
      list-style-type: none;
    }
  }

  .RightColumn {
    width: 80%;
    height: auto;
    padding: 60px 20px 10px 60px;

    iframe {
      width: 100%;
      height: 100%;
      display: none;
      border-color: #a177c4;

    }
  }
}
#homeWorksList {
  width: 100%;
  padding-top: 15px;
  .buttonHW {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 1px #7614c9 solid;
    box-shadow: -1px 2px 17px 0px rgba(154, 13, 123, 0.63);
    &:hover {
      background-color: #9fcdff;
      transition: 0.3s ease-in-out;
      transform: scale(1.03) translateY(-5px);
      border-color: darkblue;
    }
  }
  .buttonHover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 30px;
    position: relative;
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 90%;
      left: 5%;
      background-color: #d569e5;
      bottom: 0;
      position: absolute;
      margin-bottom: 10px;
    }
  }
  .Item {
    padding: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: 575px) {
      animation: startBlock 0.5s linear;
      &:nth-child(2) {
        animation: startBlock 0.6s linear;
      }
      &:nth-child(3) {
        animation: startBlock 0.7s linear;
      }
      &:nth-child(4) {
        animation: startBlock 0.8s linear;
      }
      &:nth-child(5) {
        animation: startBlock 0.9s linear;
      }
      &:nth-child(6) {
        animation: startBlock 1s linear;
      }
      &:nth-child(7) {
        animation: startBlock 1.1s linear;
      }
      &:nth-child(8) {
        animation: startBlock 1.2s linear;
      }
      &:nth-child(9) {
        animation: startBlock 1.3s linear;
      }
      &:last-of-type {
        animation: startBlock 1.4s linear;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  #MP_Module1{
    .buttonHW {
      background-color: burlywood;
      border-color: #7614c9;
      &:hover{
        background-color: #9fcdff;
        transition: 0.3s ease-in-out;
        transform: scale(1.03) translateY(-5px);
        border-color: darkblue;
      }
      .buttonHover{
        &:after{
          background-color: #7614c9 ;
          &:hover{
            border-color: darkblue;
          }
        }
      }
    }
  }
  .homeWorksPagesMainScreen {
    width: 90%;
    margin-left: 5%;
    a {
      margin-bottom: 5px;
    }
  }
  a {
    display: block;
    color: white;
    width: 100%;
    text-decoration: none;

    &:hover {
      color: blueviolet;
      transition: 0.3S ease-in-out;
    }
  }
}
/*rotate sort-down menu symbol*/
.dropdownMenuSymbol{
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  &:after{
    position: absolute;
    display: block;
    content: "\f150";
    height: 18px;
    width: 18px;
    font-family: 'Font Awesome 5 Free';
    right: 10px;
    top: 10%;
  }
}


/* drop menu part1*/
#toggle_part1 {
  display: none;
  position: relative;

  &:after {
    content: 'f0dd';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
  }
}
#toggle_part1:checked ~ #drop_punkt_part1 {
  display: block;
}

#drop_punkt_part1 {
  display: none;
  cursor: pointer;
}
/* drop menu part3*/
#toggle_part3 {
  display: none;
  position: relative;

  &:after {
    content: 'f0dd';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
  }
}
#toggle_part3:checked ~ #drop_punkt_part3 {
  display: block;
}

#drop_punkt_part3 {
  display: none;
  cursor: pointer;
}
/* drop menu part2*/

#toggle_part2 {
  display: none;
}

#toggle_part2:checked ~ #drop_punkt_part2 {
  display: block;
}

#drop_punkt_part2 {
  display: none;
}

.prewPage {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;

  i {
    color: #e58e69;
    font-size: 20px;
    padding-right: 20px;
  }
}

#DropDownMenuFull{
label{
  font-size: 20px;
&:hover{
  cursor: pointer;
}}
}

#toglerrButton, #TogglerButtonCheckBox {
  display: none;
}

.AboutHomeWork {
  display: none;
}

@media all and (max-width: 575px) {
  h2 {
    font-size: 14px;
  }
  li {
    font-size: 12px;
  }
  #TogglerButtonCheckBox {
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 30px;
    color: white;
  }
  #toglerrButton:checked ~ .DropDownMenuFull {
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    width: 70%;
    background-color: #f5eaff;
    height: 100vh;
    transition: 0.8s;
    z-index: 1;
    padding: 15px 15px 20px;
  }
  #toglerrButton:checked ~ #TogglerButtonCheckBox {
    position: relative;

    i {
      display: none
    }
  }
  #toglerrButton:checked ~ #TogglerButtonCheckBox:after {
    content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 60px;
    color: darkgrey;
    display: block;
    height: 60px;
    position: absolute;
    top: -60px;
    left: -10px;
    z-index: 3 !important;
  }
  .DropDownMenuFull {
    visibility: hidden;
  }
  .prewPage {
    position: relative;

    &:after {
      content: '';
      background-color: #f5eaff;
      height: 4px;
      width: 94%;
      left: 3%;
      position: absolute;
      bottom: -10px;
    }
  }
  section {
    .LeftColumn {
      padding-left: 20px;
      height: 50px;
      position: relative;

      &:after {
        display: none;
      }
    }

    .RightColumn {
      padding: 15px 10px;
      height: 80vh;
    }
  }
  .AboutHomeWork {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    margin-top: 70px;

    &:after {
      width: 80%;
      height: 2px;
      background-color: #7614c9;
      bottom: 0;
      left: 10%;
      margin-bottom: 10px;
    }
  }
  header {
    .row {
      .NameWork {
        display: none;
      }

      .numberWork {
        display: none
      }

      .ALevelLogo {
        position: relative;
        right: 20px;
        top: 20px;

        p {
          font-size: 45px;
        }

      }
    }
  }
}

@media all and (max-width: 300px) {
  #toglerrButton:checked ~ .DropDownMenuFull {
    width: 100%;
  }
  header {
    .row {
      .ALevelLogo {
        p {
          font-size: 30px;
        }

        & > div {
          background-color: #270742;
          height: 60px;
          width: 140px;
          position: relative;
          z-index: 0;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          padding: 0 10px;

          &:after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background-color: #270742;
            position: absolute;
            top: -20px;
            right: -20px;
            z-index: 1;
          }

          &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-color: #7614c9;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
          }
        }
      }
    }
  }
}

@keyframes startBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
