*{
  font-family: Arial;
}
form{
  max-width: 425px;
  padding: 25px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #24303c;
  justify-content: space-between;
  input{
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border: #8e9ba4 1px solid;
    color: #9eb5bb;
    padding: 10px;
    box-sizing: border-box;
  }
  #firstName, #lastName {
    width: 47%;
  }
  #butSignUp{
    display: none;
  }
  #butSignUp:checked{
    &~#signUpChecker{
      background-color: #1ab188;
      color: white;
    }
    &~#login{
      display: none;
    }
    &~#firstName{
      display: flex;
    }
    &~#lastName{
      display: flex;
    }
  }
  #butLogIn:checked{
    &~#logInChecker {
      background-color: #1ab188;
      color: white;
    }
    &~#login{
      display: flex;
    }
    &~#firstName{
      display: none;
    }
    &~#lastName{
      display: none;
    }
  }
  #butLogIn{
    display: none;
  }
  label{
    width: 50%;
    cursor: pointer;
    background-color: #435259;
    color: #9eb5bb;
    padding: 16px 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    padding: 18px 5px;
    border: none;
    background-color: #1ab188;
    cursor: pointer;
    &:hover{
      transform: scale(1.02);
      transition: 0.4s ease-in-out;
    }
  }
  span{
    color: white;
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.alertButton{
  border-color: darkred;
  color: red;
  opacity: 0.7;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
#signUpChecker{
  &:hover{
    animation: pulse 1s infinite;
  }
}
#logInChecker{
  &:hover{
    animation: pulse 1.2s infinite;
  }
}
@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.035);
  }
  100%{
    transform: scale(1);
  }
}
