li{

    margin: 5px;
    float: left;
    list-style-type: none;
}
.inner{
    border: grey 3px solid;
    background-color: lightgray;
    width: 100px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: green;
}
ul{
    text-decoration: none;

}

section>.mainList>li:nth-child(4){
    height: 140px;
    clear: left;
}
section>.mainList>li:nth-child(2){
    clear: left;
}
p{
    font-size: 25px;
}
section{
    max-width: 800px;
}
.Item{
    max-width: 250px;
    padding-left: 5px;
}
.Item .inner{

    width: 100px;
    height: 170px;
    float: left;
}
li>.Item>li:nth-child(1), li>.Item>li:nth-child(2){
    height: 100px;
}
.Kvadrat .Item:after{
    clear: both;
}