h1{
    text-align: center;
}
h2{
    text-align: center;
}
h2 span{
    font-weight: bold;
}
/*p{*/
/*    font-size: 16px;*/
/*    display: block;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.secondP{*/
/*    margin-bottom: 20px;*/
/*}*/
/*.item{*/
/*    width: 50%;*/
/*    padding-left: 25%;*/
/*    display: block;*/
/*}*/
