.cube{
    height: 100px;
    width: 100px;
    border: 2px darkblue solid;
    margin: 10px;
}
.cube:first-of-type{
    border: 2px red solid;
}

.cube:last-of-type{
    border: 2px green solid;
}
#firstTask .cube:last-of-type{
    position: relative;
    left: 240px;
}
#firstTask .cube:nth-child(2){
    position: relative;
    left: 120px;
}
section{
    margin-bottom: 50px;
    padding: 20px;
    border: 3px black solid;
}
#secondTask .cube{
    display: inline-block;
}
#thirdTask .cube:first-of-type{
    background-color: red;
}
#thirdTask .cube:nth-child(2){
    background-color: darkblue;
    position: relative;
    left: 70px;
    bottom: 70px;
}
#thirdTask .cube:last-of-type{
    background-color: green;
    position: relative;
    left: 140px;
    bottom: 140px;
}

#fourthTask .cube:first-of-type{
    background-color: red;
}
#fourthTask .cube:nth-child(2){
    background-color: darkblue;
    position: relative;
    left: 70px;
    bottom: 70px;
    z-index: 2;
}
#fourthTask .cube:last-of-type{
    background-color: green;
    position: relative;
    left: 140px;
    bottom: 140px;
}