div{
  width: 400px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 15px;
  background-color: coral;
}

div:hover ~ div {
  width: 800px;
  transition: 1s ease-in-out;
  background-color: aqua;
}